TOGGL_USER=matt@example.com
TOGGL_WORKSPACE_ID=12345
JIRA_URL=https://myjira.atlassian.net
JIRA_USER=your_username
TIMEZONE=America/Chicago
CLIENT_NAME=some_client
PROJECT=EXPRJ,JIRAPRJ,OTHERPRJ,SUP,ISSUE
